* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-image: url(/izletApp/img/just-waves.png);
}

.wrapper {
    margin: auto;
}


footer {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #eee;
    background: #1FA2FF;
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
    background-image: url(/izletApp/img/footer.jpg);
    padding: 10px;
}

footer .prava {
    padding: 20px;
    margin-top: 10px;
}

footer .korisno {
    padding-left: 10px;
    border-left: 2px solid #ffa751;
}

footer .korisno h2 {
    margin-bottom: 25px;
}

footer .korisno a {
    text-decoration: none;
    margin: 0px 0px 0 0;
    padding-right: 5px;
    text-align: center;
    border-right: 2px solid #ffe259;
}


#page-top {
    background: #fff;
}


.navigation {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    background: #1FA2FF;
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
    padding: 0px;
    filter: drop-shadow(1px 1px 3px #333);
    overflow: auto;
}

.navigation a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px;
    color: #333;
    border-right: 2px solid #333;
    float: left;
    display: block;
    width: 25%;
    text-align: center;
}

.navigation a:hover {
    color: #eee;
    text-shadow: 1px 2px 5px #333;
}

.navigation .icon {
    display: none;
}

.on {
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

#izleti-drop:hover .dropdown-content {display: block;}

#izleti-drop:hover .dropdown a {background-color: #3e8e41;}

.glavni-sadrzaj {
    width: 70%;
    display: grid;
    grid-template-columns: 10% 70% 15%;
    grid-column-gap: 0;
    margin: 0 auto;
}


#myBtn {
    float: right;
    position: relative;
    top: 30px;
    right: 0;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

#myBtn:hover {
        color: #333;
        background: #ffe259; 
        background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
        background: linear-gradient(to right, #ffa751, #ffe259);
}

.login-register input {
    padding: 3px;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 1rem;
    border: 2px solid #333;
    width:120px;
}

.login-register button {
    float: right;
    padding: 5px 10px;
    margin-top: 8px;
    margin-right: 6px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  .login-register button:hover {
    color: #333;
    background: #ffe259; 
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    background: linear-gradient(to right, #ffa751, #ffe259);
  }


.sidebar {
    max-width: 300px;
    margin: 0 auto;
    background: #ffe;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
}

.sidebar h2 {
    padding: 2px;
    margin: 0;
    color: #333;
    font-size: 2rem;
    text-align: center;
    background: #1FA2FF;
    background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
}

.sidebar li {
    list-style: none;
}

.sidebar input {
    margin: 10px 45px;
}



#ponuda a {
    display: block;
    border-bottom: 1px solid #eef;
    padding: 5px;
}

#aktualno {
    background: #eee;
}

#aktualno li {
    padding: 5px;
}


.ponuda {
    position: relative;
    background: #ffffeef3;
    margin: 0 ;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    border-left: 2px solid #999;
}

.ponuda img {
    display: block;
    width: 100%;
    height: auto;
}

.ponuda h2 {
    font-size: 1rem
    text-align: justify;
    padding: 10px;
    margin: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  .kontejner {
        position: relative;
        width: 100%;
        max-width: 300px;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .kontejner:hover .overlay {
    opacity: 1;
  }

 .kartice  {
    max-width: 250px;
    height: 275px;
    border: 2px solid #333333e1;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    background: #ffe259; 
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    background: linear-gradient(to right, #ffa751, #ffe259);
    filter: drop-shadow(1px 1px 3px #333);
}

.kartice figcaption {
    padding: 0px;
    margin: 20px;
}

.kartice figcaption p {
    font-size: 1.8rem;
}

.dodatni-info {
    width: 100%;
    background: #eef;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dodatni-info h2 {
    text-align: right;
    margin-right: 20px;
}

.dodatni-info p {
    margin: 15px;
    max-width: 600px;
}


  
@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 600px) {
      #myBtn {
          float: none;
          position: relative;
          top: 0px;
          margin: 5px auto;
          left: 40%;
      }
  }



/*  GRADIENT BOJA
------------------------------------------------------
.bg-orange-gradient {
    background: rgba(255,133,27,1);
    background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%);
    background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%);
  }
------------------------------------------------------*/